.BaseInput {
    padding: 5px;
    font-size: var(--font-size-m);
    border: 1px solid var(--primary-font-color);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--bg-color);
    color: var(--primary-font-color);
}
