.Sidebar {
  position: relative;
  padding: 20px 5px;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width-closed);
  background: var(--bg-color-inverted);
  transition: width 0.3s;
}

.isOpen {
  width: var(--sidebar-width);
}

.switchers {
  position: absolute;
  display: flex;
  justify-content: center;
  width: calc(100% - 10px);
  bottom: 20px;
}