.Sidebar {
    position: relative;
    padding: 20px 5px;
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width-closed);
    background: var(--bg-color-inverted);
    transition: width 0.3s;
}

.isOpen {
    width: var(--sidebar-width);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        padding: 5px 0;
    }
}

.switchers {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    bottom: 20px;
}

.openBtn {
    width: 20px;
    height: 50px;
    position: absolute;
    right: -32px;
    bottom: 0;
}
