.app_dark_theme {
    --bg-color: #1f3d51;
    --bg-color-inverted: #eff2e6;
    --primary-font-color: #eff2e6;
    --primary-font-color-inverted: #1f3d51;
    --primary-color: #ff458f;
    --secondary-color: #dee500;
    --border-color: #dee500;
    --error: #fc365a;
}
