.app_light_theme {
    --bg-color: #eff2e6;
    --bg-color-inverted: #1f3d51;
    --primary-font-color: #1f3d51;
    --primary-font-color-inverted: #eff2e6;
    --primary-color: #00c3af;
    --secondary-color: #ff458f;
    --border-color: #00c3af;
    --error: #fc365a;
    --code-bg: #e2e7db;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: #fff;
}
