.app.light {
  --bg-color: #EFF2E6;
  --bg-color-inverted: #1F3D51;
  --primary-font-color: #1F3D51;
  --primary-font-color-inverted: #EFF2E6;
  --primary-color: #00C3AF;
  --secondary-color: #FF458F;
  --border-color: #00C3AF;
}