.ArticleDetails {
    border-top: 1px solid var(--secondary-color);
}

.iconWrap {
    display: flex;
    align-items: center;
}

.topIcon {
    fill: var(--primary-font-color);
    width: 16px;
    height: 16px;
    margin-right: 12px;
}
