.BaseButton {
    cursor: pointer;
    font-size: var(--font-size-m);
}

.outlined {
    outline: none;
    border: none;
    background: none;
    color: inherit;
    fill: var(--primary-font-color-inverted);
}
